* {
	@include box-sizing(border-box);
}

html,
body {
    height: 100%;
    min-height: 100%;
}

.container {
	width: span(4);
	margin: rem(100px) auto;
}

.main-content {
	width: span(10);
	text-align: center;
}

.contact {
	width: span(12);
	text-align: left;
}
